body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.introduccion {
  display: grid;

  text-align: center;
  color: white;

  font-size: 2em;
  background-color: #09111e;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 0.5em;
}


.explicacion {

  text-align: center;
  color: white;

  font-size: 12px !important;
  padding-top: 0.5em;
  padding-bottom: 1.5em;

  padding-left: 20%;
  padding-right: 20%;

}

.recuadro {
  width:90%
}
