body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: rgba(255,172,57,1);
}

.back {
  background: rgb(89,10,159) fixed;
  background: linear-gradient(135deg, rgba(89,10,159,1) 8%, rgba(214,28,19,1) 50%, rgba(255,172,57,1) 91%);
}

.introduccion {
  display: grid;

  text-align: center;
  color: white;

  font-size: 2em;
  font-family: 'Atomic Age', cursive;

  padding-top: 0.5em;
}


.explicacion {

  text-align: center;
  color: white;

  font-size: 12px !important;
  padding-top: 0.5em;
  padding-bottom: 1.5em;

  padding-left: 20%;
  padding-right: 20%;

  font-family: 'Source Sans Pro', sans-serif;
}

.recuadro {
  background: rgb(89,10,159) fixed;
  background: linear-gradient(135deg, rgba(89,10,159,1) 8%, rgba(214,28,19,1) 50%, rgba(255,172,57,1) 91%);
}
