data/raw/hansen/*
data/raw/earthenv/*
data/raw/floods/*
data/raw/mammals/*
data/raw/nations/*
data/raw/pastures/*
data/raw/population/*
aws_spaceapps_key.pem
nasa.pem

# Exceptions
!data/raw/hansen/.gitkeep
!data/raw/earthenv/.gitkeep
!data/processed/hansen/.gitkeep
